
{{#if plants.length}}
<div class="col-md-6 plant-list">
  <h3>{{userName}}'s Garden</h3>

  {{#each plants as |plant|}}
  <div class="col-6 mt-2">
    <div class="card" style="width: 18rem;">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h5 class="card-title">{{plant.name}}</h5>
        <img src="{{plant.plantImg}}">
        <a href="/plant/{{plant.id}}" class="btn btn-primary plpr">View Plant Profile</a>
      </div>
      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="col-md-6 plant-list">
      <h3>{{userName}} has no plants</h3>
      <div "col-6 mt-2">
        <div class="card" style="width 18rem;">
          <div class="card-body">
             <h5 class="card-title">Please Add Plants</h5>
            <img src="https://media3.giphy.com/media/Yoi7H75JB38dHERFVB/giphy.gif?cid=790b7611944f84a9402f26918e6c91df2da10c82c3fdf217&rid=giphy.gif&ct=s">
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>


