  <style>
      /* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  width: 100%;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

.userNameText{
    font-weight: bold;
    font-size: 1.2rem;
}
.block-body {
  background-color: #f5f8fa;
}
.roots {
  font-weight: bold;
  text-align: end;
}
.fa-flower-tulip {
  width: 10px;
}

  </style>
  
  <div class="post">
        <div class="post__avatar">
          {{!-- {{userAvatar}} --}}
        </div>
        <div class="post__body">
          <div class="post__header">
          <h3 class="userNameText">@{{postedBy}}</h3>
          <blockquote class="block-body">
          {{body}}
          </blockquote>
        <div class="roots">
          Roots:{{roots}}
        </div>
          </div>
          {{!-- {{#if post-image}}
         {{post-image}}
         {{else}}
         {{/if}} --}}
        </div>
      </div>
  