  <style>
      /* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  width: 100%;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  width: 75px;
  height: 75px;
}

.userNameText{
    font-weight: bold;
    font-size: 1.2rem;
}
.block-body {
  background-color: #daffd0;
  height: 50px;
  border-radius: 25px;
  padding: 8px;
}
.roots {
  font-weight: bold;
  text-align: end;
}
.fa-flower-tulip {
  width: 10px;
}

.bi-person-circle{
  color: lightgray;
  height: 100px;
  display: inline-block;
  transform: scale(3.5);
  margin-top: 142px;
  margin-left: 23px;
  color:lightslategray
}
.bi-arrow-up-circle {
  margin-right: 5px;
  margin-top: 2px;
 
}

  </style>
  
  <div class="post">
   
          
        <div class="post__avatar">
         <i class="bi bi-person-circle"></i>
        </div>
        <div class="post__body">
          <div class="post__header">
          <h3 class="userNameText">@{{user.userName}}</h3>
          <blockquote class="block-body">
          {{body}}
          </blockquote>
        <div data-id={{id}} id='roots'class="roots">
          <i id='emptyCircle'class="bi bi-arrow-up-circle"></i>Roots:{{roots}}
        </div>
          </div>
          {{!-- {{#if post-image}}
         {{post-image}}
         {{else}}
         {{/if}} --}}
        </div>
      </div>